html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


/*
 * 1. 定义全局字体
 * 2. 修复表单元素不能继承字体样式
 */
body,   /*1*/
input,select,button,textarea /*2*/
{
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

input,select,textarea{
  font-size:100%;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  height: 1px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
  width: 100%;
  background-color: #ccc;
  margin: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}


/**
 * 闭合浮动
 */
.fn-clear:before,
.fn-clear:after {
    content: "";
    display: table;
}

.fn-clear:after {
    clear: both;
}

.fn-clear {
    *zoom: 1; /* IE6-7 触发 hasLayout */
}

/**
 * 设置左右浮动
 */
.fn-left,.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}

/**
 * 元素隐藏
 */
.fn-hide {
    display: none !important;
    visibility: hidden !important;
}

/**
 * 显示属性
 */
.fn-block {
  display: block !important;
}
.fn-inline {
  display: inline !important;
}
.fn-inline-block {
  display: inline-block !important;
}



/**
 * 文本隐藏
 */
.fn-text-hide {
    text-indent: 100%; /* 1 */
    white-space: nowrap;
    overflow: hidden;
}

/**
 * 文本对齐方式，左中右两端
 */
.fn-text-left {
    text-align: left !important;
}
.fn-text-center {
    text-align: center !important;
}
.fn-text-right {
    text-align: right !important;
}
.fn-text-justify {
    text-align: justify !important;
}

/**
 * 文本强制不换行
 */
.fn-text-nowrap {
    white-space: nowrap;
    word-wrap: normal;
}

/**
 * 文本强制换行
 */
.fn-text-break {
    white-space: normal;
    word-wrap: break-word;
}

/**
 * 文字溢出显示省略号
 * 1. Opera 9-10.6
 * 2. Chrome 21+ bug https://bugs.webkit.org/show_bug.cgi?id=121902
 */
.fn-text-ellipsis {
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    -o-text-overflow: ellipsis; /* 1 */
    text-overflow: ellipsis;
    text-align: left; /* 2 */
}

/**
 * 统一用双线显示人民币符号「&yen;(￥)」
 */
.fn-text-rmb,
.fn-text-yuan {
    font-family: arial;
    font-style: normal;
}


/**
 * 三角符号
 */
.fn-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/**
 * 关闭符号
 */
.fn-close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.fn-close:hover,
.fn-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.fn-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

/*
 * 自适应两端对齐布局
 */
.fn-layout-justify {
    font-size: 0;
    line-height: inherit;
    text-align: justify;
    text-justify: inter-ideograph; /* IE 6-7 */
    *zoom: 1; /* IE 6-7 触发 hasLayout 使一行也能两端对齐 */
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
    text-align-last: justify;/* IE 8+ */
}
/**
 * 不支持 text-align-last 的浏览器用伪元素模拟
 * 1. margin-left:100% 仅 WebKit 支持
 */
.fn-layout-justify:after {
    content: "";
    display: inline-block;
    width: 100%; /* 1 */
}

/* 子元素取消两端对齐 */
.fn-layout-justify .dib {
    display: inline-block;
    -moz-text-align-last: auto;
    -webkit-text-align-last: auto;
    text-align-last: auto;
    text-justify: auto;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
    word-spacing: normal;
    *display: inline;
    *zoom: 1;
}

/**
 * 水平列表平铺
 */
.fn-layout-tiled {
	display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
}
.fn-layout-tiled li {
  -webkit-box-flex: 1;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center; 
}

/**
 * 垂直上下居中
 */
.fn-layout-vcenter{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    height: 150px; 
}
input{
	margin: 0;
	padding: 0;
}
